@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center;color:#2f75b5">Welcome to Internal Software</h1>
</div>

<center>
    <div class="row">
        @*<div class="col-md-4" style="background-color:aquamarine;margin:20px 20px 20px 20px;">*@
        <div class="col-md-4">
            @*<h2>Check Projects</h2>*@
            <img src="~/Content/images/projects2.png" alt="Projects Icon" width=50% height=50%>
            @*<input type="submit" value="Projects" onclick="location.href='@Url.Action("Index", "Projects")'" />*@
            <p>
                @Html.ActionLink("Project", "Index", "Projects")
            </p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>

        @*<div class="col-md-4" style="background-color:aquamarine;margin:20px 20px 20px 20px">*@
        <div class="col-md-4">
            @*<h2>Inventory</h2>*@
            <img src="~/Content/images/inventory2.png" alt="Inventory Icon" width=50% height=50%>

            <p>
                @Html.ActionLink("Inventory", "Index", "Inventories")
            </p>
        </div>

        <div class="col-md-4">
            <img src="~/Content/images/parts3.png" alt="Parts Icon" width=50% height=50%>

            <p>
                @Html.ActionLink("Part", "Index", "Parts")
            </p>
        </div>
    </div>
</center>

<center>
    <div class-"row">
        <div class="col-md-4">
            <img src="~/Content/images/suppliers2.png" alt="UsersIcon" width=50% height=50%>

            <p>
                @Html.ActionLink("Supplier", "Index", "Suppliers")
            </p>
        </div>

        @*<div class="col-md-4" style="background-color:aquamarine;margin:20px 20px 20px 20px">*@
        <div class="col-md-4">
            <img src="~/Content/images/users3.png" alt="Users Icon" width=50% height=50%>

            <p>
                @Html.ActionLink("Collaborators", "Index", "Users")
            </p>
        </div>
    </div>
</center>

<div class="row">

</div>