@model IEnumerable<TrackerModuleV1._0.Models.PTM.Part>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NovenaTecPartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwissRanksPartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OEMPartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorPartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NovenaTecPartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SwissRanksPartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OEMPartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorPartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartId })
        </td>
    </tr>
}

</table>
