@model TrackerModuleV1._0.Models.PTM.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobRole)
        </dd>

        <dt>
            @Html.DisplayName("Projects Involved In")
        </dt>
        <table class="table">
            <dd>
                <tr>
                    <th>Project Name</th>
                    <th>Project ID</th>
                </tr>
                @foreach (var item in Model.projects)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectId)
                    </td>
                </tr>
                }
            </dd>
        </table>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
